<h1>Listado del carrito (id={{cid}})</h1>
	<div>
	{{#each prodpop}}
		<div>
			<p><strong>{{this.title}}</strong> (id={{this._id}}): {{this.description}}</p>
			<ul><strong>Código, status y categoría</strong>: {{this.code}}, {{this.status}} y {{this.category}}</ul>
			<ul><strong>Precio</strong>: ${{this.price}}</ul>
			{{#if this.notenough}}
			<ul style="color:red"><strong>Cantidad a comprar</strong>: {{this.quantity}} de {{this.stock}} unidades</ul>
			{{else}}
			<ul style="color:green"><strong>Cantidad a comprar</strong>: {{this.quantity}} de {{this.stock}} unidades</ul>
			{{/if}}
		</div>
	{{/each}}
	</div>
	<form action="/api/carts/{{cid}}/purchase?_method=DELETE" method="post">
		<input type="hidden" name="_method" value="DELETE">
		<button type="submit">Hacer compra</button>
	</form>
<p>Fin de listado</p>
